body {

    margin: 15px 15px 15px 15px;
}

/* HEADER */

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.contactEmail {
    margin-top: auto;

}

/* MAIN */

.mainImage {
    display: flex;
    justify-content: flex-end;
}

.container {
    margin-top: -130px;
}

.aboutUs {
    display: flex;
    flex-flow: row wrap;
    max-width: 70%;
}



/* FOOTER */

.myFooter {
    display: flex;
    justify-content: center;
    background-color: #343A40;
    color: #007bff;
    margin: 10px 0px 0px 0px;
}
