body {

    margin: 15px 15px 15px 15px;
}

/* HEADER */

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.contactEmail {
    margin-top: auto;
    
}

/* MAIN */

.aboutUs {
    display: inline-block;
    max-width: 70%;
}

.mainImage {
    display: flex;
    text-align: right;
}


/* FOOTER */

.myFooter {
    display: flex;
    text-align: center;
}
