body {

    margin: 15px 15px 15px 15px;
}

/* HEADER */

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* MAIN */

.contactEmail {
    margin-top: auto;

}

.emailImage {
    height: 75px;
    margin: 0px 15px 35px 0px;
}

.navbar {
    align-items: baseline;
    height: 120px;
    font-size: 20px;
}

.nav {
    
    display: flex;
    flex-flow: row wrap; 
    
}

.mainImage {
    display: flex;
    justify-content: flex-end;
}

.indexImage {
    margin: 0px 15px 0px 0px;
    height: 128px;
}

.container {
    margin-top: -130px;
}

.aboutUs {
    display: flex;
    flex-flow: row wrap;
    max-width: 70%;
}

.checkboxAndFilters {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

.checkboxParty {
    max-width: 60%;
}

#statedropdown {
    justify-content: flex-end;
    
}

.table {
    text-align: center;
}

#mainDiv {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.mainText {
    max-width: 50%;
}

.mainTable {
    max-width: 50%;
    margin: 0px 100px 0px 0px;
}



/* FOOTER */

.myFooter {
    display: flex;
    justify-content: center;
    background-color: #343A40;
    color: #007bff;
    margin: 10px 0px 0px 0px;
    font-size: 20px;
}
